<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="loading">
    <div style="text-align:center; margin:15px;">Getting Your Location</div>
    <div><span class="date" style="color:white;"> </span> <a href="http://forecast.io" id="forio">Powered by Dark Sky</a></div>
    <div class="loader"></div>
  </div>
  <div class="card" id="formsub">
      <form id="getinfo">
        <select name="country" class="countries order-alpha presel-IN" id="countryId" hidden>
          <option value="">Select Country</option>
        </select>
        <select name="state" class="states order-alpha" id="stateId" required>
            <option value="">Select State</option>
        </select>
        <select name="city" class="cities order-alpha" id="cityId" required>
            <option value="">Select City</option>
        </select>
        <div>Hour(24 Hour Format)
        <input name="hour" type="number" min="0" max="23" id="time" required></div>
        <button type="submit" name="button" >Get Weather</button>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//geodata.solutions/includes/countrystatecity.js"></script>
      </form>
    </div>
  <div id="localdata">
    
  </div>
  <div id="calleddata">
    
  </div>
</body>
</html>


